<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item h4">
                <a class="nav-link font-size-lg" href="{% url 'add_player' %}">Add Player</a>
            </li>
            <li class="nav-item h4">
                <a class="nav-link font-size-lg" href="{% url 'update_player' %}">Update Player</a>
            </li>
            <li class="nav-item h4">
                <a class="nav-link font-size-lg" href="{% url 'delete_player' %}">Delete Player</a>
            </li>
            <li class="nav-item h4">
                <a class="nav-link font-size-lg" href="{% url 'list_players' %}">List Players</a>
            </li>
        </ul>
    </div>
</nav>

